@import './navbar.css';
@import './contact.css';
@import './impressum.css';

body {
    margin: 0;
}

.homeSection {
    display: flex;
    margin-top: 6rem;
}



h1 {
    text-align: center;
    font-size: 3rem;
}

h3{
    text-align: center;
    font-size: 1.5rem;
}


.text {
    text-align: center;
}